doctype html
html
  head
    link(href='./img/favicon.png', rel='shortcut icon')
    meta(charset='utf-8')
    meta(content='width=1024, maximum-scale=1.0', name='viewport')
    link(href='./css/desktop.css', rel='stylesheet', type='text/css')
    meta(content='Launchpad by Anima', name='author')
  body(style='margin: 0;\
  background: rgba(255, 255, 255, 1.0);')
    input#anPageName(name='page', type='hidden', value='desktop')
    .desktop
      div(style='width: 1024px; height: 100%; position:relative; margin:auto;')
        .whatdoineedtota
          | What do I need to take
        .rectangle
        .rectangle1
        .rectanglecopy
        .rectanglecopy2
        .myacademics
          | My Academics
        .classsearch
          | Class Search
        .coursedetails
          | Course Details
        .visualmediastudi
          | Visual & Media Studies (BA)
        .corecourses
          | Core Courses
        .mediaandorarthis
          | Media and/or Art History
        .visualandmediapra
          | Visual and Media Practice
        .vmselectives
          | VMS Electives
        .crosslistedelectiv
          | Cross-Listed Electives
        .classtaken
          .rectangle2
          .vms202d
            | VMSXXX
        .classtakencopy
          .rectangle2
          .vms202d
            | VMSXXX
        .classtakencopy2
          .rectangle2
          .vms202d
            | VMSXXX
        .classtaken1
          .rectangle2
          .vms202d
            | VMS202D
        .classtaken2
          .rectangle2
          .vms202d
            | VMS327S
        .corecoursenottaken
          img.rectangle2(anima-src='./img/desktop-rectangle-6@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .vms202d
            | VMS327S
        .corecoursenottaken1
          img.rectangle2(anima-src='./img/desktop-rectangle-6@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .vms202d
            | Insert course
        .corecoursenottakencopy
          img.rectangle2(anima-src='./img/desktop-rectangle-6@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .vms202d
            | Insert course
        .corecoursenottakencopy4
          img.rectangle2(anima-src='./img/desktop-rectangle-6@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .vms202d
            | Insert course
        .corecoursenottakencopy2
          img.rectangle2(anima-src='./img/desktop-rectangle-6@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .vms202d
            | Insert course
        .corecoursenottakencopy5
          img.rectangle2(anima-src='./img/desktop-rectangle-6@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .vms202d
            | Insert course
        .corecoursenottakencopy3
          img.rectangle2(anima-src='./img/desktop-rectangle-6@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .vms202d
            | Insert course
        .corecoursenottakencopy6
          img.rectangle2(anima-src='./img/desktop-rectangle-6@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .vms202d
            | Insert course
        .mdialertcircle
          .icon
            img.iconshape(anima-src='./img/desktop-icon-shape@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .viewbox
        .coursecopy19
          .rectangle2
          .code
            | COMPSCI190A
          .name
            | Topics in Computer Science
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI
          .areasofknowledge1
            | SS
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy18
          .rectangle2
          .code
            | COMPSCI201
          .name
            | Programming and Problem Solving
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | undefined
          .areasofknowledge1
            | undefined
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy17
          .rectangle2
          .code
            | COMPSCI94
          .name
            | Topics in Computer Science
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI
          .areasofknowledge1
            | ALP
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy16
          .rectangle2
          .code
            | COMPSCI101L
          .name
            | Discrete Math for Computer Science
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI,EI
          .areasofknowledge1
            | CZ
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy15
          .rectangle2
          .code
            | COMPSCI110
          .name
            | Complex Systems and Evolving Multiagent Simulations
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI
          .areasofknowledge1
            | ALP,CZ
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy14
          .rectangle2
          .code
            | COMPSCI216
          .name
            | Everything Data
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | undefined
          .areasofknowledge1
            | undefined
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy13
          .rectangle2
          .code
            | COMPSCI102S
          .name
            | Information, Society, and Culture: Bass Connections Gateway
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI
          .areasofknowledge1
            | ALP,CZ
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy12
          .rectangle2
          .code
            | COMPSCI220
          .name
            | Computational Microeconomics
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI
          .areasofknowledge1
            | ALP,CZ
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy11
          .rectangle2
          .code
            | COMPSCI149S
          .name
            | Constructing Immersive Virtual Worlds
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI,EI
          .areasofknowledge1
            | CZ
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy10
          .rectangle2
          .code
            | COMPSCI92L
          .name
            | Focus Program: Topics in Computer Science
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI,EI,R
          .areasofknowledge1
            | CZ,SS
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy9
          .rectangle2
          .code
            | COMPSCI190
          .name
            | Technical and Social Analysis of Information and the Internet
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | undefined
          .areasofknowledge1
            | undefined
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy8
          .rectangle2
          .code
            | COMPSCI190FS
          .name
            | Computer Science Education Research Seminar
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI
          .areasofknowledge1
            | ALP,SS
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy7
          .rectangle2
          .code
            | COMPSCI223
          .name
            | Introduction to Computer Modeling
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI,EI,R
          .areasofknowledge1
            | CZ,SS
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy6
          .rectangle2
          .code
            | COMPSCI224
          .name
            | Computing and the Brain
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI,R
          .areasofknowledge1
            | CZ
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy5
          .rectangle2
          .code
            | COMPSCI89S
          .name
            | Data Structures and Algorithms
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI
          .areasofknowledge1
            | CZ,SS
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy4
          .rectangle2
          .code
            | COMPSCI103L
          .name
            | Introduction to Computer Science
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | STS,W
          .areasofknowledge1
            | SS
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy3
          .rectangle2
          .code
            | COMPSCI230
          .name
            | Duke-Administered Study Abroad: Topics in Computer Science
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI
          .areasofknowledge1
            | ALP,SS
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy2
          .rectangle2
          .code
            | COMPSCI190S
          .name
            | First-Year Seminar
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI,R,W
          .areasofknowledge1
            | ALP,CZ
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .coursecopy
          .rectangle2
          .code
            | COMPSCI107FS
          .name
            | Artificial Life, Culture, and Evolution
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI
          .areasofknowledge1
            | CZ,SS
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .course
          .rectangle2
          .code
            | COMPSCI107
          .name
            | Introduction to Numerical Methods and Analysis
          .modes
            | Modes:
          .areas
            | Areas:
          .modesofinquiry1
            | CCI
          .areasofknowledge1
            | ALP
          img.line(anima-src='./img/desktop-line-16@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .department
          | Department
        .modesofinquiry
          | Modes of Inquiry
        .areasofknowledge
          | Areas of Knowledge
        .checkboxchecked
          .background
          img.checkbackground(anima-src='./img/desktop-check-background-1@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          img.rectangle34(anima-src='./img/desktop-rectangle-34-7@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .checklabel
            | VMS
        .checkboxcheckedcopy3
          .background
          img.checkbackground(anima-src='./img/desktop-check-background-1@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          img.rectangle34(anima-src='./img/desktop-rectangle-34-7@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .checklabel
            | ALP
        .checkboxcheckedcopy8
          .background
          img.checkbackground(anima-src='./img/desktop-check-background-1@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          img.rectangle34(anima-src='./img/desktop-rectangle-34-7@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .checklabel
            | CCI
        .checkboxcheckedcopy4
          .background
          img.checkbackground(anima-src='./img/desktop-check-background-1@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          img.rectangle34(anima-src='./img/desktop-rectangle-34-7@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .checklabel
            | CZ
        .checkboxcheckedcopy9
          .background
          img.checkbackground(anima-src='./img/desktop-check-background-1@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          img.rectangle34(anima-src='./img/desktop-rectangle-34-7@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .checklabel
            | EI
        .checkboxcheckedcopy5
          .background
          img.checkbackground(anima-src='./img/desktop-check-background-1@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          img.rectangle34(anima-src='./img/desktop-rectangle-34-7@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .checklabel
            | NS
        .checkboxcheckedcopy10
          .background
          img.checkbackground(anima-src='./img/desktop-check-background-1@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          img.rectangle34(anima-src='./img/desktop-rectangle-34-7@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .checklabel
            | STS
        .checkboxcheckedcopy6
          .background
          img.checkbackground(anima-src='./img/desktop-check-background-1@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          img.rectangle34(anima-src='./img/desktop-rectangle-34-7@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .checklabel
            | QS
        .checkboxcheckedcopy11
          .background
          img.checkbackground(anima-src='./img/desktop-check-background-1@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          img.rectangle34(anima-src='./img/desktop-rectangle-34-7@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .checklabel
            | FL
        .checkboxcheckedcopy7
          .background
          img.checkbackground(anima-src='./img/desktop-check-background-1@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          img.rectangle34(anima-src='./img/desktop-rectangle-34-7@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .checklabel
            | SS
        .checkboxcheckedcopy12
          .background
          img.checkbackground(anima-src='./img/desktop-check-background-1@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          img.rectangle34(anima-src='./img/desktop-rectangle-34-7@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .checklabel
            | R
        .checkboxcheckedcopy13
          .background
          img.checkbackground(anima-src='./img/desktop-check-background-1@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          img.rectangle34(anima-src='./img/desktop-rectangle-34-7@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .checklabel
            | W
        .checkboxcheckedcopy
          .background
          img.checkbackground(anima-src='./img/desktop-check-background-1@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          img.rectangle34(anima-src='./img/desktop-rectangle-34-7@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .checklabel
            | COMPSCI
        .checkboxcheckedcopy2
          .background
          img.checkbackground(anima-src='./img/desktop-check-background-1@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          img.rectangle34(anima-src='./img/desktop-rectangle-34-7@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .checklabel
            | ISS
        .xxx123copy2
          | XXX123
        .coursenamecopy2
          | Course Name
        .descriptioncopy3
          | Description
        .modesofinquirycopy2
          | Mode(s) of Inquiry
        .areasofknowledgecopy2
          | Area(s) of Knowledge
        .crosslistingscopy
          | Cross Listings
        .modesareassymbolcopy7
          img.rectangle2(anima-src='./img/desktop-rectangle-8@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .modesofinquiry1
            | xx
        .loremipsumdolorsicopy2
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
        img.linecopy2(anima-src='./img/desktop-line-copy-2@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
        .professorloremipsucopy2
          | Professor Lorem Ipsum
        .areassymbolcopy
          img.rectangle2(anima-src='./img/desktop-rectangle-8@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .areasofknowledge1
            | xx
        .crosslistingssymbolcopy
          img.rectangle2(anima-src='./img/desktop-rectangle-10@2x.png', src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
          .crosslistings
            | xx
    // Scripts
    script.
      anima_isHidden = function(e) {
      if (!(e instanceof HTMLElement)) return !1;
      if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
      return !1;
      };
      anima_loadAsyncSrcForTag = function(tag) {
      var elements = document.getElementsByTagName(tag);
      var toLoad = [];
      for (var i = 0; i < elements.length; i++) {
      var e = elements[i];
      var src = e.getAttribute("src");
      var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
      if (loaded) continue;
      var asyncSrc = e.getAttribute("anima-src");
      if (asyncSrc == undefined || asyncSrc.length == 0) continue;
      if (anima_isHidden(e)) continue;
      toLoad.push(e);
      }
      toLoad.sort(function(a, b) {
      return anima_getTop(a) - anima_getTop(b);
      });
      for (var i = 0; i < toLoad.length; i++) {
      var e = toLoad[i];
      var asyncSrc = e.getAttribute("anima-src");
      e.setAttribute("src", asyncSrc);
      }
      };
      anima_pauseHiddenVideos = function(tag) {
      var elements = document.getElementsByTagName("video");
      for (var i = 0; i < elements.length; i++) {
      var e = elements[i];
      var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
      var isHidden = anima_isHidden(e);
      if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
      e.play();
      } else if (isPlaying && isHidden) {
      e.pause();
      }
      }
      };
      anima_loadAsyncSrc = function(tag) {
      anima_loadAsyncSrcForTag("img");
      anima_loadAsyncSrcForTag("iframe");
      anima_loadAsyncSrcForTag("video");
      anima_pauseHiddenVideos();
      };
      var anima_getTop = function(e) {
      var top = 0;
      do {
      top += e.offsetTop || 0;
      e = e.offsetParent;
      } while (e);
      return top;
      };
      anima_loadAsyncSrc();
      anima_old_onResize = window.onresize;
      anima_new_onResize = undefined;
      anima_updateOnResize = function() {
      if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
      anima_new_onResize = function(x) {
      if (anima_old_onResize != undefined) anima_old_onResize(x);
      anima_loadAsyncSrc();
      };
      window.onresize = anima_new_onResize;
      setTimeout(function() {
      anima_updateOnResize();
      }, 3000);
      }
      };
      anima_updateOnResize();
      setTimeout(function() {
      anima_loadAsyncSrc();
      }, 200);
    // End of Scripts
