<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1024, maximum-scale=1.0" name="viewport"/>
        <link href="./css/desktop.css" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="desktop"/>
        <div class="desktop">
            <div style="width: 1024px; height: 100%; position:relative; margin:auto;">
                <div class="whatdoineedtota">
                    What do I need to take
                </div>
                <div class="rectangle">
                </div>
                <div class="rectangle1">
                </div>
                <div class="rectanglecopy">
                </div>
                <div class="rectanglecopy2">
                </div>
                <div class="myacademics">
                    My Academics
                </div>
                <div class="classsearch">
                    Class Search
                </div>
                <div class="coursedetails">
                    Course Details
                </div>
                <div class="visualmediastudi">
                    Visual &amp; Media Studies (BA)
                </div>
                <div class="corecourses">
                    Core Courses
                </div>
                <div class="mediaandorarthis">
                    Media and/or Art History
                </div>
                <div class="visualandmediapra">
                    Visual and Media Practice
                </div>
                <div class="vmselectives">
                    VMS Electives
                </div>
                <div class="crosslistedelectiv">
                    Cross-Listed Electives
                </div>
                <div class="classtaken">
                    <div class="rectangle2">
                    </div>
                    <div class="vms202d">
                        VMSXXX
                    </div>
                </div>
                <div class="classtakencopy">
                    <div class="rectangle2">
                    </div>
                    <div class="vms202d">
                        VMSXXX
                    </div>
                </div>
                <div class="classtakencopy2">
                    <div class="rectangle2">
                    </div>
                    <div class="vms202d">
                        VMSXXX
                    </div>
                </div>
                <div class="classtaken1">
                    <div class="rectangle2">
                    </div>
                    <div class="vms202d">
                        VMS202D
                    </div>
                </div>
                <div class="classtaken2">
                    <div class="rectangle2">
                    </div>
                    <div class="vms202d">
                        VMS327S
                    </div>
                </div>
                <div class="corecoursenottaken">
                    <img anima-src="./img/desktop-rectangle-6@2x.png" class="rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="vms202d">
                        VMS327S
                    </div>
                </div>
                <div class="corecoursenottaken1">
                    <img anima-src="./img/desktop-rectangle-6@2x.png" class="rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="vms202d">
                        Insert course
                    </div>
                </div>
                <div class="corecoursenottakencopy">
                    <img anima-src="./img/desktop-rectangle-6@2x.png" class="rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="vms202d">
                        Insert course
                    </div>
                </div>
                <div class="corecoursenottakencopy4">
                    <img anima-src="./img/desktop-rectangle-6@2x.png" class="rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="vms202d">
                        Insert course
                    </div>
                </div>
                <div class="corecoursenottakencopy2">
                    <img anima-src="./img/desktop-rectangle-6@2x.png" class="rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="vms202d">
                        Insert course
                    </div>
                </div>
                <div class="corecoursenottakencopy5">
                    <img anima-src="./img/desktop-rectangle-6@2x.png" class="rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="vms202d">
                        Insert course
                    </div>
                </div>
                <div class="corecoursenottakencopy3">
                    <img anima-src="./img/desktop-rectangle-6@2x.png" class="rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="vms202d">
                        Insert course
                    </div>
                </div>
                <div class="corecoursenottakencopy6">
                    <img anima-src="./img/desktop-rectangle-6@2x.png" class="rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="vms202d">
                        Insert course
                    </div>
                </div>
                <div class="mdialertcircle">
                    <div class="icon">
                        <img anima-src="./img/desktop-icon-shape@2x.png" class="iconshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="viewbox">
                    </div>
                </div>
                <div class="coursecopy19">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI190A
                    </div>
                    <div class="name">
                        Topics in Computer Science
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI
                    </div>
                    <div class="areasofknowledge1">
                        SS
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy18">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI201
                    </div>
                    <div class="name">
                        Programming and Problem Solving
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        undefined
                    </div>
                    <div class="areasofknowledge1">
                        undefined
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy17">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI94
                    </div>
                    <div class="name">
                        Topics in Computer Science
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI
                    </div>
                    <div class="areasofknowledge1">
                        ALP
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy16">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI101L
                    </div>
                    <div class="name">
                        Discrete Math for Computer Science
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI,EI
                    </div>
                    <div class="areasofknowledge1">
                        CZ
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy15">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI110
                    </div>
                    <div class="name">
                        Complex Systems and Evolving Multiagent Simulations
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI
                    </div>
                    <div class="areasofknowledge1">
                        ALP,CZ
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy14">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI216
                    </div>
                    <div class="name">
                        Everything Data
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        undefined
                    </div>
                    <div class="areasofknowledge1">
                        undefined
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy13">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI102S
                    </div>
                    <div class="name">
                        Information, Society, and Culture: Bass Connections Gateway
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI
                    </div>
                    <div class="areasofknowledge1">
                        ALP,CZ
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy12">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI220
                    </div>
                    <div class="name">
                        Computational Microeconomics
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI
                    </div>
                    <div class="areasofknowledge1">
                        ALP,CZ
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy11">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI149S
                    </div>
                    <div class="name">
                        Constructing Immersive Virtual Worlds
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI,EI
                    </div>
                    <div class="areasofknowledge1">
                        CZ
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy10">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI92L
                    </div>
                    <div class="name">
                        Focus Program: Topics in Computer Science
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI,EI,R
                    </div>
                    <div class="areasofknowledge1">
                        CZ,SS
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy9">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI190
                    </div>
                    <div class="name">
                        Technical and Social Analysis of Information and the Internet
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        undefined
                    </div>
                    <div class="areasofknowledge1">
                        undefined
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy8">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI190FS
                    </div>
                    <div class="name">
                        Computer Science Education Research Seminar
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI
                    </div>
                    <div class="areasofknowledge1">
                        ALP,SS
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy7">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI223
                    </div>
                    <div class="name">
                        Introduction to Computer Modeling
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI,EI,R
                    </div>
                    <div class="areasofknowledge1">
                        CZ,SS
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy6">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI224
                    </div>
                    <div class="name">
                        Computing and the Brain
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI,R
                    </div>
                    <div class="areasofknowledge1">
                        CZ
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy5">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI89S
                    </div>
                    <div class="name">
                        Data Structures and Algorithms
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI
                    </div>
                    <div class="areasofknowledge1">
                        CZ,SS
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy4">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI103L
                    </div>
                    <div class="name">
                        Introduction to Computer Science
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        STS,W
                    </div>
                    <div class="areasofknowledge1">
                        SS
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy3">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI230
                    </div>
                    <div class="name">
                        Duke-Administered Study Abroad: Topics in Computer Science
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI
                    </div>
                    <div class="areasofknowledge1">
                        ALP,SS
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy2">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI190S
                    </div>
                    <div class="name">
                        First-Year Seminar
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI,R,W
                    </div>
                    <div class="areasofknowledge1">
                        ALP,CZ
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="coursecopy">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI107FS
                    </div>
                    <div class="name">
                        Artificial Life, Culture, and Evolution
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI
                    </div>
                    <div class="areasofknowledge1">
                        CZ,SS
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="course">
                    <div class="rectangle2">
                    </div>
                    <div class="code">
                        COMPSCI107
                    </div>
                    <div class="name">
                        Introduction to Numerical Methods and Analysis
                    </div>
                    <div class="modes">
                        Modes:
                    </div>
                    <div class="areas">
                        Areas:
                    </div>
                    <div class="modesofinquiry1">
                        CCI
                    </div>
                    <div class="areasofknowledge1">
                        ALP
                    </div>
                    <img anima-src="./img/desktop-line-16@2x.png" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="department">
                    Department
                </div>
                <div class="modesofinquiry">
                    Modes of Inquiry
                </div>
                <div class="areasofknowledge">
                    Areas of Knowledge
                </div>
                <div class="checkboxchecked">
                    <div class="background">
                    </div>
                    <img anima-src="./img/desktop-check-background-1@2x.png" class="checkbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-rectangle-34-7@2x.png" class="rectangle34" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="checklabel">
                        VMS
                    </div>
                </div>
                <div class="checkboxcheckedcopy3">
                    <div class="background">
                    </div>
                    <img anima-src="./img/desktop-check-background-1@2x.png" class="checkbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-rectangle-34-7@2x.png" class="rectangle34" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="checklabel">
                        ALP
                    </div>
                </div>
                <div class="checkboxcheckedcopy8">
                    <div class="background">
                    </div>
                    <img anima-src="./img/desktop-check-background-1@2x.png" class="checkbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-rectangle-34-7@2x.png" class="rectangle34" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="checklabel">
                        CCI
                    </div>
                </div>
                <div class="checkboxcheckedcopy4">
                    <div class="background">
                    </div>
                    <img anima-src="./img/desktop-check-background-1@2x.png" class="checkbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-rectangle-34-7@2x.png" class="rectangle34" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="checklabel">
                        CZ
                    </div>
                </div>
                <div class="checkboxcheckedcopy9">
                    <div class="background">
                    </div>
                    <img anima-src="./img/desktop-check-background-1@2x.png" class="checkbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-rectangle-34-7@2x.png" class="rectangle34" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="checklabel">
                        EI
                    </div>
                </div>
                <div class="checkboxcheckedcopy5">
                    <div class="background">
                    </div>
                    <img anima-src="./img/desktop-check-background-1@2x.png" class="checkbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-rectangle-34-7@2x.png" class="rectangle34" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="checklabel">
                        NS
                    </div>
                </div>
                <div class="checkboxcheckedcopy10">
                    <div class="background">
                    </div>
                    <img anima-src="./img/desktop-check-background-1@2x.png" class="checkbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-rectangle-34-7@2x.png" class="rectangle34" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="checklabel">
                        STS
                    </div>
                </div>
                <div class="checkboxcheckedcopy6">
                    <div class="background">
                    </div>
                    <img anima-src="./img/desktop-check-background-1@2x.png" class="checkbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-rectangle-34-7@2x.png" class="rectangle34" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="checklabel">
                        QS
                    </div>
                </div>
                <div class="checkboxcheckedcopy11">
                    <div class="background">
                    </div>
                    <img anima-src="./img/desktop-check-background-1@2x.png" class="checkbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-rectangle-34-7@2x.png" class="rectangle34" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="checklabel">
                        FL
                    </div>
                </div>
                <div class="checkboxcheckedcopy7">
                    <div class="background">
                    </div>
                    <img anima-src="./img/desktop-check-background-1@2x.png" class="checkbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-rectangle-34-7@2x.png" class="rectangle34" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="checklabel">
                        SS
                    </div>
                </div>
                <div class="checkboxcheckedcopy12">
                    <div class="background">
                    </div>
                    <img anima-src="./img/desktop-check-background-1@2x.png" class="checkbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-rectangle-34-7@2x.png" class="rectangle34" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="checklabel">
                        R
                    </div>
                </div>
                <div class="checkboxcheckedcopy13">
                    <div class="background">
                    </div>
                    <img anima-src="./img/desktop-check-background-1@2x.png" class="checkbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-rectangle-34-7@2x.png" class="rectangle34" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="checklabel">
                        W
                    </div>
                </div>
                <div class="checkboxcheckedcopy">
                    <div class="background">
                    </div>
                    <img anima-src="./img/desktop-check-background-1@2x.png" class="checkbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-rectangle-34-7@2x.png" class="rectangle34" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="checklabel">
                        COMPSCI
                    </div>
                </div>
                <div class="checkboxcheckedcopy2">
                    <div class="background">
                    </div>
                    <img anima-src="./img/desktop-check-background-1@2x.png" class="checkbackground" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="./img/desktop-rectangle-34-7@2x.png" class="rectangle34" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="checklabel">
                        ISS
                    </div>
                </div>
                <div class="xxx123copy2">
                    XXX123
                </div>
                <div class="coursenamecopy2">
                    Course Name
                </div>
                <div class="descriptioncopy3">
                    Description
                </div>
                <div class="modesofinquirycopy2">
                    Mode(s) of Inquiry
                </div>
                <div class="areasofknowledgecopy2">
                    Area(s) of Knowledge
                </div>
                <div class="crosslistingscopy">
                    Cross Listings
                </div>
                <div class="modesareassymbolcopy7">
                    <img anima-src="./img/desktop-rectangle-8@2x.png" class="rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="modesofinquiry1">
                        xx
                    </div>
                </div>
                <div class="loremipsumdolorsicopy2">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                </div>
                <img anima-src="./img/desktop-line-copy-2@2x.png" class="linecopy2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="professorloremipsucopy2">
                    Professor Lorem Ipsum
                </div>
                <div class="areassymbolcopy">
                    <img anima-src="./img/desktop-rectangle-8@2x.png" class="rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="areasofknowledge1">
                        xx
                    </div>
                </div>
                <div class="crosslistingssymbolcopy">
                    <img anima-src="./img/desktop-rectangle-10@2x.png" class="rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="crosslistings">
                        xx
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
